<div class="container">
  <div class="new-page">
    <h1>Opret ny artikel</h1>
    <p>- Ingen person data, email adr, tlf nr og andet.</p>
    <p>- Skriv ikke nogen passwords ind</p>
    <p>- Generelt ingen følsomme oplysninger</p>

    <%= render 'form' %> 
  </div>
</div> 
  