// General styling

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}


// flash message

#flashmsg {
  position: absolute;
  z-index: 10;
}

// this is for the user stylesheet.

.login-form-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("new-york.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100%;
  .login-form {
    margin-top: 25%;
    background-color: white;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
  }
}
